<div class="cabToolbar">
  <div>
    <mat-icon (click)="cambiaMenu()">menu</mat-icon>
    <img src="/images/logoMuniHeadBlanco.svg" />
  </div>
  <div>
    <div class="retrato"
      [class.mujer]="usuSex === 2"
      [class.hombre]="usuSex === 1"
      [class.otro]="usuSex === 0"
    >
    </div>
    <div>Contribuyente:<br/>
      {{usuNombre}}
    </div>
    <button mat-flat-button class="mat-bg-error" (click)="salir()">
      <mat-icon>exit_to_app</mat-icon>
      Salir
    </button>
  </div>
</div>
