
.desktop-view {
  display: block;
}
.mobile-view {
  display: none;
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }

  .saludo-mobile {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--molina-green-primary);
    text-align: center;
  }

  .direccion-mobile {
    font-size: 0.85rem;
    margin-bottom: 20px;
    color: #666;
    word-wrap: break-word;
    text-align: center;
  }

  .custom-card-mobile {
    border: 1px solid var(--molina-green-primary) !important;
  }

  .btnAnimado {
      width: 100%;
      margin-bottom: 10px;
      height: 60px;
      border: 1px solid var(--molina-green-primary);
      border-radius: 8px;
      font-weight: bold;
      color: var(--molina-green-primary);
      padding-left: 60px; /* Espacio para el icono */
      text-align: left;
      font-size: 1.1rem;
      cursor: pointer;
      background-color: transparent;
  }

  .btnPgPendientes{
    background-image: url("/images/pgPendientes.svg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  
  .btnPgHistoria{
    background-image: url("/images/pgHistoria.svg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
}
