.btnPgPendientes{
  background-image: url("/images/pgPendientes.svg");
  background-size: auto 70%;
}
.btnPgHistoria{
  background-image: url("/images/pgHistoria.svg");
  background-size: auto 70%;
}
