<div class="row mb-3 mt-2 pagoTotal">
  <div class="totalPago">
    <div>
      Total a pagar:
    </div>
    <div class="monto">
      S/ {{ (montoTotal || 0).toLocaleString('es-PE', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
    </div>
    <button
      mat-flat-button
      class="mat-bg-pagar"
      [disabled]="(montoTotal || 0) <= 0"
      [class.disabled-button]="(montoTotal || 0) <= 0"
      (click)="pagar()"
    >
      <mat-icon>payment</mat-icon>
      Pagar
    </button>
  </div>
</div>
