:root {
  --molina-white-primary: #FFFFFF;
  --molina-white-default: #F8F8F8;
  --molina-white-press: #EDF0FF;
  --molina-white-dark: #E3E3E3;
  --molina-white-back: #F3F3F3;
  --molina-white-backHover: #D1D1D1;
  --molina-white-disabled: #dbdbdb;
  --molina-white-other: #EFEFEF;
  --molina-white-lightblue: #EDF0FF;

  --molina-green-primary: #00AC68;
  --molina-green-default: #3A9246;
  --molina-green-press: #59B224;
  --molina-green-hover: #81DD8D;
  --molina-green-disabled: #A7E3BE;
  --molina-green-dark: #004D2F;

  --molina-blue-primary: #0654A2;
  --molina-blue-press: #3A5AA7;
  --molina-blue-hover: #2FBADA;
  --molina-blue-light: #7B99E1;
  --molina-blue-lightHover: #CFF1FF;
  --molina-blue-lightSky: #BDF3FF;

  --molina-red-primary: #FF0000;
  --molina-red-press: #C9425C;
  --molina-red-hover: #FF715E;
  --molina-red-light: #FFBF9C;
  --molina-red-minlight: #FF9566;
  --molina-red-disabled: #FFDEDE;
  --molina-red-dark: #500000;
}
